<a href="https://colab.research.google.com/github/deepasoman93/Python_ML_Basics/blob/main/GO_STP_7389_Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment-5 -Pandas

1. Load the IMDb Dataset and read

In [ ]:
import numpy as np
import pandas as pd
data = pd.read_csv('/IMDB-Movie-Data.csv')

2. View the dataset

In [ ]:
print(data)

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

3. Understand some basic information about the dataset and Inspect the dataframe Inspect the dataframe's columns, shapes, variable types etc.

In [ ]:
data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [ ]:
data.shape

(1000, 12)

In [ ]:
data.size

12000

In [ ]:
data.ndim

2

In [ ]:
data.values

array([[1, 'Guardians of the Galaxy', 'Action,Adventure,Sci-Fi', ...,
        757074, 333.13, 76.0],
       [2, 'Prometheus', 'Adventure,Mystery,Sci-Fi', ..., 485820, 126.46,
        65.0],
       [3, 'Split', 'Horror,Thriller', ..., 157606, 138.12, 62.0],
       ...,
       [998, 'Step Up 2: The Streets', 'Drama,Music,Romance', ..., 70699,
        58.01, 50.0],
       [999, 'Search Party', 'Adventure,Comedy', ..., 4881, nan, 22.0],
       [1000, 'Nine Lives', 'Comedy,Family,Fantasy', ..., 12435, 19.64,
        11.0]], dtype=object)

In [ ]:
dat = data.values
type(dat)

numpy.ndarray

In [ ]:
data.describe()

              Rank         Year  ...  Revenue (Millions)   Metascore
count  1000.000000  1000.000000  ...          872.000000  936.000000
mean    500.500000  2012.783000  ...           82.956376   58.985043
std     288.819436     3.205962  ...          103.253540   17.194757
min       1.000000  2006.000000  ...            0.000000   11.000000
25%     250.750000  2010.000000  ...           13.270000   47.000000
50%     500.500000  2014.000000  ...           47.985000   59.500000
75%     750.250000  2016.000000  ...          113.715000   72.000000
max    1000.000000  2016.000000  ...          936.630000  100.000000

[8 rows x 7 columns]

4. Data Selection – Indexing and Slicing data

In [ ]:
data.iloc[3]

Rank                                                                  4
Title                                                              Sing
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                            59
Name: 3, dtype: object

In [ ]:
data[['Actors',	'Year']].agg(['min','max','mean'])

                                                 Actors      Year
min   Aamir Khan, Anushka Sharma, Sanjay Dutt,Boman ...  2006.000
max   Zooey Deschanel, Joseph Gordon-Levitt, Geoffre...  2016.000
mean                                                NaN  2012.783

5. Data Selection – Based on Conditional filtering

In [ ]:
data.filter(items=['Actors',	'Year'])
data['Year']>2012

0       True
1      False
2       True
3       True
4       True
       ...
995     True
996    False
997    False
998     True
999     True
Name: Year, Length: 1000, dtype: bool

6. Groupby operations

In [ ]:
top_movie = data[data["Rating"] > 8.0]
top_movie.groupby(["Title"])["Votes"].mean()

Title
12 Years a Slave                                 486338
3 Idiots                                         238789
Ah-ga-ssi                                         33418
Bahubali: The Beginning                           76193
Dangal                                            48969
Django Unchained                                1039115
El secreto de sus ojos                           144524
Gone Girl                                        636243
Gran Torino                                      595779
Guardians of the Galaxy                          757074
Hachi: A Dog's Tale                              177602
Hacksaw Ridge                                    211760
Harry Potter and the Deathly Hallows: Part 2     590595
How to Train Your Dragon                         523893
Incendies                                         92863
Inception                                       1583625
Inglourious Basterds                             959065
Inside Out                                       416689
Interstellar                                    1047747
Into the Wild                                    459304
Jagten                                           192263
Kimi no na wa                                     34110
Koe no katachi                                     2421
La La Land                                       258682
Lion                                             102061
Mad Max: Fury Road                               632842
Mommy                                             33560
No Country for Old Men                           660286
PK                                               103279
Paint It Black                                       61
Pan's Labyrinth                                  498879
Prisoners                                        431185
Relatos salvajes                                 110100
Room                                             224132
Rush                                             339722
Shutter Island                                   855604
Spotlight                                        268282
Star Wars: Episode VII - The Force Awakens       661608
Taare Zameen Par                                 102697
The Avengers                                    1045588
The Bourne Ultimatum                             525700
The Dark Knight                                 1791916
The Dark Knight Rises                           1222645
The Departed                                     937414
The Grand Budapest Hotel                         530881
The Help                                         342429
The Imitation Game                               532353
The Intouchables                                 557965
The Lives of Others                              278103
The Prestige                                     913152
The Wolf of Wall Street                          865134
There Will Be Blood                              400682
Toy Story 3                                      586669
Twin Peaks: The Missing Pieces                     1973
Up                                               722203
WALL·E                                           776897
Warrior                                          355722
Whiplash                                         477276
Zootopia                                         296853
Name: Votes, dtype: int64

7. Sorting operation

In [ ]:
r = data.sort_values(by='Rating')
r

     Rank                    Title  ... Revenue (Millions) Metascore
829   830           Disaster Movie  ...              14.17      15.0
42     43  Don't Fuck in the Woods  ...                NaN       NaN
871   872     Dragonball Evolution  ...               9.35      45.0
647   648                 Tall Men  ...                NaN      57.0
968   969                  Wrecker  ...                NaN      37.0
..    ...                      ...  ...                ...       ...
36     37             Interstellar  ...             187.99      74.0
249   250         The Intouchables  ...              13.18      57.0
117   118                   Dangal  ...              11.15       NaN
80     81                Inception  ...             292.57      74.0
54     55          The Dark Knight  ...             533.32      82.0

[1000 rows x 12 columns]

8. Dealing with missing values

In [ ]:
dat= data
dat.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

9. Dropping columns and null values

In [ ]:
x = data.drop(['Metascore'], axis='columns', inplace=True)
print(x)

None

In [ ]:
dat= data
dat.dropna()

     Rank                     Title  ...   Votes Revenue (Millions)
0       1   Guardians of the Galaxy  ...  757074             333.13
1       2                Prometheus  ...  485820             126.46
2       3                     Split  ...  157606             138.12
3       4                      Sing  ...   60545             270.32
4       5             Suicide Squad  ...  393727             325.02
..    ...                       ...  ...     ...                ...
993   994  Resident Evil: Afterlife  ...  140900              60.13
994   995                 Project X  ...  164088              54.72
996   997           Hostel: Part II  ...   73152              17.54
997   998    Step Up 2: The Streets  ...   70699              58.01
999  1000                Nine Lives  ...   12435              19.64

[872 rows x 11 columns]

10. Apply( ) functions

In [ ]:
rank = data.apply(lambda n: n*5)
print(rank.head())

   Rank  ... Revenue (Millions)
0     5  ...            1665.65
1    10  ...             632.30
2    15  ...             690.60
3    20  ...            1351.60
4    25  ...            1625.10

[5 rows x 11 columns]