<a href="https://colab.research.google.com/github/deepasoman93/Python_ML_Basics/blob/main/GO_STP_7389_Assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment-8-Multi Linear Regression

Predicting a Startups Profit/Success Rate using Multiple Linear Regression in Python.
Here 50 startups dataset containing 5 columns  like “R&D Spend”, “Administration”, “Marketing Spend”, “State”, “Profit”.
In this dataset first 3 columns provides you spending on Research , Administration and Marketing respectively. State indicates startup based on that state. Profit indicates how much profits earned by a startup.

Clearly, we can understand that it is a multiple linear regression problem, as the independent variables are more than one.

Prepare a prediction model for profit of 50_Startups data in Python

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import pandas as pd
import numpy as np
import io

In [66]:
data = pd.read_csv('/content/50_Startups.csv')
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [67]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [69]:
X = data.iloc[:,0:-1]
Y = data.iloc[:,-1]
print(X.shape,Y.shape)

(50, 4) (50,)

In [70]:
X=pd.get_dummies(X)
X.head()

   R&D Spend  Administration  ...  State_Florida  State_New York
0  165349.20       136897.80  ...              0               1
1  162597.70       151377.59  ...              0               0
2  153441.51       101145.55  ...              1               0
3  144372.41       118671.85  ...              0               1
4  142107.34        91391.77  ...              1               0

[5 rows x 6 columns]

In [71]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=.2,random_state=1)
print(X_train.shape,X_test.shape)

(40, 6) (10, 6)

In [72]:
print(Y_train.shape, Y_test.shape)

(40,) (10,)

In [73]:
std_model  = LinearRegression()
std_model.fit(X_train,Y_train)
Y_pred = std_model.predict(X_test)
print(Y_pred)

[114664.41715868  90593.1553162   75692.84151575  70221.88679651
 179790.25514872 171576.9201852   49753.58752028 102276.65888936
  58649.37795762  98272.02561131]

In [74]:
print(Y_test)

27    105008.31
35     96479.51
40     78239.91
38     81229.06
2     191050.39
3     182901.99
48     35673.41
29    101004.64
46     49490.75
31     97483.56
Name: Profit, dtype: float64

In [75]:
print(X_test)

    R&D Spend  Administration  ...  State_Florida  State_New York
27   72107.60       127864.55  ...              0               1
35   46014.02        85047.44  ...              0               1
40   28754.33       118546.05  ...              0               0
38   20229.59        65947.93  ...              0               1
2   153441.51       101145.55  ...              1               0
3   144372.41       118671.85  ...              0               1
48     542.05        51743.15  ...              0               1
29   65605.48       153032.06  ...              0               1
46    1315.46       115816.21  ...              1               0
31   61136.38       152701.92  ...              0               1

[10 rows x 6 columns]

In [76]:
print(std_model.coef_)

[ 7.74342081e-01 -9.44369585e-03  2.89183133e-02 -2.85177769e+02
  2.97560876e+02 -1.23831070e+01]

In [77]:
print(std_model.intercept_)

49834.88507319081

In [78]:
print("accuracy is: ", r2_score(Y_test,Y_pred))

accuracy is:  0.9649618042060304

In [79]:
print(mean_squared_error(Y_test,Y_pred))

79495441.50414702

In [80]:
vif = 1/1-(r2_score(Y_test,Y_pred))
vif

0.035038195793969606