<a href="https://colab.research.google.com/github/deepasoman93/Python_ML_Basics/blob/main/GO_STP_7389_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment-3 | Python Dictionary Sets

1. Write a Python Program to sort (ascending and descending) a dictionary by value.

In [ ]:
import operator

In [ ]:
a = {'a':1,'e':6,'c':3,'d':5,'b':2}
ascend = sorted(a.items(), key=operator.itemgetter(1))
print('Elements in Ascending Order: ',ascend)

Ascending Order Is :  [('a', 1), ('b', 2), ('c', 3), ('d', 5), ('e', 6)]

In [ ]:
a = {'a':1,'e':6,'c':3,'d':5,'b':2}
des = sorted(a.items(), key=operator.itemgetter(1),  reverse=True)
print('Elements in decending Order: ', des)

Elements in decending Order:  [('e', 6), ('d', 5), ('c', 3), ('b', 2), ('a', 1)]

2. Write a Python Program to add a key to a dictionary. 
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
a = {0: 10, 1: 20}
print('Before update:', a)
a.update({2: 30})
print('After update:', a)

Before update: {0: 10, 1: 20}
After update: {0: 10, 1: 20, 2: 30}

3. Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
citytemp = dict()
n = int(input('Enter The Number Of Cities : '))
for i in range(n):
  city = input('Enter name of the city : ')
  temp = int(input('Enter the temperature of the city : '))
  citytemp[city] = temp
print('Created Dictionary Is : ',citytemp)
city_name = input('Enter Name Of The City To Check Temperature Of It : ')
print('Temperature Of The City Is : ',citytemp[city_name])

Enter The Number Of Cities : 5
Enter name of the city : america
Enter the temperature of the city : 36
Enter name of the city : Delhi
Enter the temperature of the city : 45
Enter name of the city : Mumbai
Enter the temperature of the city : 37
Enter name of the city : Paris
Enter the temperature of the city : 23
Enter name of the city : Africa
Enter the temperature of the city : 56
Created Dictionary Is :  {'america': 36, 'Delhi': 45, 'Mumbai': 37, 'Paris': 23, 'Africa': 56}
Enter Name Of The City To Check Temperature Of It : Paris
Temperature Of The City Is :  23

4 Write a Python program to convert list to list of dictionaries.
Sample lists: ["Black", "Red", "Maroon", "Yellow"], 
["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, 
                  {'color_name': 'Red', 'color_code': '#FF0000'},
                  {'color_name': 'Maroon', 'color_code': '#800000'},
                  {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
list1 = ["Black", "Red", "Maroon", "Yellow"]
list2 = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'Colour': a, 'Code': b} for a, b in zip(list1, list2)])

[{'Colour': 'Black', 'Code': '#000000'}, {'Colour': 'Red', 'Code': '#FF0000'}, {'Colour': 'Maroon', 'Code': '#800000'}, {'Colour': 'Yellow', 'Code': '#FFFF00'}]

 5. We have following information on Employees and their Salary (Salary is in lakhs),

Employee	Salary
John	14
Smith	13
Alice	32
Daneil	21

1. Using above create a dictionary of Employees and their Salary

2. Write a program that asks user for three type of inputs,

a. print: if user enter print then it should print all Employees with their Salary in this format,
John ==>14
Smith ==>13
Alice ==>32
Daneil ==>21

b. add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

c. remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

d. query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
dic = {'John':1400000, 'Smith':1300000, 'Alice':3200000, 'Daniel':3200000}
print('Employee And Their Salaries', dic)

Employee And Their Salaries {'John': 1400000, 'Smith': 1300000, 'Alice': 3200000, 'Daniel': 3200000}

In [ ]:
user_input = input('Select one operation(Print\Add\Remove\Query) : '.title())
if user_input=='Print':
  for i in dic.items():
    print(i[0],'==>',i[1])

elif user_input == 'Add':
  new_name = input('Enter the name of new employee : ')
  if new_name in dic.keys():
    print('This employee is already exsist')
  else:
    new_sal = int(input('Enter the salary : '))
    dic[new_name]=new_sal
    for j in dic.items():
      print(j[0],'==>',j[1])

elif user_input == 'Remove':
  rem = input('Enter employee name : ')
  if rem in dic:
    del dic[rem]
    for k in dic.items():
      print(k[0],'==>',k[1])
  else:
    print('Employee does not exist')

elif user_input == 'Query':
  s = input('Enter the name of the employee')
  if s in dic:
    print(dic[s])
  else:
    print('This employee did not exist')
else:
  print('Invalid input')

Select One Operation(Print\Add\Remove\Query) : Query
Enter the name of the employeeJohn
1400000

Questions on Sets-

1. What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname)?

Elements of a set can be modified at any time, elements of the frozen set remain the same after creation. Set Is Mutable.

In [ ]:
w = {'Inception'}
print("set:", w)
w.add("Movie")
print("After addition:", w)

set: {'Inception'}
After addition: {'Inception', 'Movie'}

In [ ]:
w = ('T','n','e','t')
fset = frozenset(w)
print('The frozen set is:', fset)
%fset.add('v')

The frozen set is: frozenset({'t', 'T', 'e', 'n'})

UsageError: Line magic function `%fset.add` not found.

2 Find the elements in a given set that are not in another set
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
Difference between set1 and set2 is {10,20,30}

In [ ]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print(set1.difference(set2))

{10, 20, 30}