<a href="https://colab.research.google.com/github/deepasoman93/Python_ML_Basics/blob/main/GO_STP_7389_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment-7-Simple Linear Regression

In this task we have to find the students scores based on their study hours. This is a simple Regression problem type because it has only two variables.

In [ ]:
import pandas as pd
import io  
data = pd.read_csv('/StudentHoursScores.csv')
print(data)

    Hours  Scores
0     7.7      79
1     5.9      60
2     4.5      45
3     3.3      33
4     1.1      12
5     8.9      87
6     2.5      21
7     1.9      19
8     2.7      29
9     8.3      81
10    5.5      58
11    9.2      88
12    1.5      14
13    3.5      34
14    8.5      85
15    3.2      32
16    6.5      66
17    2.5      21
18    9.6      96
19    4.3      42
20    4.1      40
21    3.0      30
22    2.6      25

In [ ]:
data.describe()

           Hours     Scores
count  23.000000  23.000000
mean    4.817391  47.695652
std     2.709688  27.103228
min     1.100000  12.000000
25%     2.650000  27.000000
50%     4.100000  40.000000
75%     7.100000  72.500000
max     9.600000  96.000000

In [ ]:
X = data.iloc[:,0:-1]
Y = data.iloc[:,-1]
print(X.shape,Y.shape)

(23, 1) (23,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=.2,random_state=1)
print(X_train.shape,X_test.shape)

(18, 1) (5, 1)

In [ ]:
print(Y_train.shape, Y_test.shape)

(18,) (5,)

In [ ]:
from sklearn.linear_model import LinearRegression
std_model  = LinearRegression()
std_model.fit(X_train,Y_train)
Y_pred = std_model.predict(X_test)
print(Y_pred)

[40.87711348 25.025345   32.95122924 34.9327003  42.85858454]

In [ ]:
print(Y_test)

20    40
17    21
3     33
13    34
19    42
Name: Scores, dtype: int64

In [ ]:
print(X_test)

    Hours
20    4.1
17    2.5
3     3.3
13    3.5
19    4.3

In [ ]:
print(std_model.coef_)

[9.9073553]

In [ ]:
print(std_model.intercept_)

0.2569567372371395

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error
print("accuracy is: ", r2_score(Y_test,Y_pred))

accuracy is:  0.9311770139374417

In [ ]:
print(mean_squared_error(Y_test,Y_pred))

3.7164412473781487

In [ ]:
vif = 1/1-(r2_score(Y_test,Y_pred))
vif

0.06882298606255832